// Colors
// Base colors
$color-base-white: #ffffff;
$color-base-gray: #bdbdbd;
$color-base-black: #333333;
$color-base-primary: #7859cf;
$color-base-secondary: #f0ebff;

//Alt colors
$color-alt-primary-lighter: #9070ec;
$color-alt-primary-darker: #593cac;
$color-alt-light-grey: #e2e2e2;

//Background Colors
$color-bg-lightest-grey: #f8f8f8;
$color-bg-flat-white: #f3ebe1;
$color-bg-lavender-latte: #eae6fc;
$color-bg-espresso: #e5e6e8;

// Viewports
$vp-768: 768px;
$vp-1440: 1440px;

//Fonts
$ff-montserrat: "Montserrat", "Arial", sans-serif;
