.catalog {
  background-color: $color-bg-lightest-grey;
}

.catalog__container {
  padding: 50px 20px 44px;

  @media (min-width: $vp-768) {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  @media (min-width: $vp-1440) {
    display: grid;
    align-items: start;
    padding: 100px 40px 120px;

    column-gap: 30px;

    grid-template-columns: 318px 1011px;
  }
}

.catalog__title {
  margin: 0 0 5px;

  @media (min-width: $vp-1440) {
    grid-column: 1/-1;
  }
}

.catalog__detailed-title {
  margin: 0 0 20px;

  @media (min-width: $vp-1440) {
    margin-bottom: 36px;

    grid-column: 1/-1;
  }
}

.catalog__form {
  margin-bottom: 40px;
}

.catalog__sorting {
  margin-bottom: 16px;

  @media (min-width: $vp-768) {
    margin-right: 3px;
    margin-bottom: 26px;
  }

  @media (min-width: $vp-1440) {
    margin-bottom: 25px;
  }
}

.catalog__products {
  display: grid;
  margin: 0 0 40px;
  padding: 0;

  list-style-type: none;

  gap: 20px;

  @media (min-width: $vp-768) {
    margin-bottom: 70px;

    gap: 30px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $vp-1440) {
    margin-bottom: 60px;

    grid-template-columns: 1fr 1fr 1fr;
  }
}

.catalog__product {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 20px 18px;

  background-color: $color-base-white;
  border-radius: 4px;

  @media (min-width: $vp-768) {
    padding: 50px 30px 30px;
  }

  &:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  }

  &:focus {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    outline: none;
  }
}

.catalog__product-image {
  display: block;
  max-width: 130px;
  margin: 0 auto 24px;

  @media (min-width: $vp-768) {
    margin-bottom: 31px;
  }
}

.catalog__product-title {
  margin: 0 0 4px 1px;

  @media (min-width: $vp-768) {
    margin-bottom: 9px;
  }
}

.catalog__product-description {
  margin: 0 0 16px 1px;

  font-weight: 400;
  font-size: 14px;
  line-height: 143%;

  @media (min-width: $vp-768) {
    margin-bottom: 20px;
  }
}

.catalog__price-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: -1px;
}

.catalog__product-price {
  max-width: 100px;
  margin-top: 2px;

  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
}

.catalog__product-button {
  display: flex;
  flex-wrap: wrap;
  max-width: 170px;
  margin-right: 1px;
  margin-left: auto;

  font-size: 14px;
  line-height: 143%;

  gap: 6px;

  &::before {
    content: "";

    width: 20px;
    height: 16px;
    margin-top: 2px;

    background-image: url("../../icons/cart-plus.svg");
  }
}
