.form {
  display: grid;

  gap: 30px;

  @media (min-width: $vp-768) {
    gap: 40px 30px;
    grid-template-columns: 223px 222px 223px;
  }

  @media (min-width: $vp-1440) {
    padding-top: 4px;

    gap: 30px;
    grid-template-columns: 1fr;
  }
}

.form__group {
  margin: 0;
  padding: 0;

  border: none;
}

.form__legend {
  margin: 0 0 20px;
  padding: 0;

  font-weight: 600;
}

.form__slider {
  margin-top: 9px;
  margin-bottom: 34px;

  @media (min-width: $vp-768) {
    margin-bottom: 31px;
  }

  @media (min-width: $vp-1440) {
    margin-bottom: 32px;
  }
}

.form__slider-inputs {
  position: relative;

  display: grid;

  gap: 44px;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $vp-768) {
    gap: 48px;
    grid-template-columns: 87px 88px;
  }

  @media (min-width: $vp-1440) {
    gap: 50px;
    grid-template-columns: 1fr 1fr;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 8px;
    height: 2px;

    background-color: $color-base-gray;
    transform: translate(-50%);

    @media (min-width: $vp-768) {
      top: 46%;
      left: calc(50% - 1px);
    }
  }
}

.form__input {
  width: 118px;
  padding: 7px 8px 5px 8px;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  font-family: inherit;
  text-align: center;

  background-color: transparent;
  border: 2px solid $color-alt-primary-lighter;
  border-radius: 4px;

  appearance: textfield;

  @media (min-width: $vp-768) {
    width: 100%;
  }

  &::placeholder {
    color: $color-base-gray;

    opacity: 1;
  }

  &:hover {
    border-color: $color-alt-primary-darker;
    outline: $color-alt-primary-darker solid 1px;
  }

  &:focus {
    border-color: $color-alt-primary-darker;
    outline: none;
  }

  &:disabled {
    color: $color-base-gray;

    background-color: $color-bg-lightest-grey;
    border-color: $color-alt-light-grey;

    pointer-events: none;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }
}

.form__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style-type: none;

  gap: 20px;
}

.form__buttons {
  display: grid;

  gap: 20px;

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
    width: 279px;
    margin: 0 auto;
    padding-left: 1px;

    gap: 20px;
    grid-column: 1/-1;
  }

  @media (min-width: $vp-1440) {
    width: 100%;
    padding-top: 10px;
    padding-left: 0;
  }
}

.form__button {
  @media (min-width: $vp-768) {
    padding-left: 21px;
  }

  @media (min-width: $vp-1440) {
    min-width: 149px;
  }
}
