.main-footer__logo {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-footer__group {
  padding: 20px;

  &--logo {
    display: grid;

    gap: 38px;
    grid-template-columns: 82px 1fr;
  }

  &--copyright {
    font-size: 12px;
    line-height: 133%;
    text-align: center;
    color: $color-base-gray;
  }

  &:not(:first-child) {
    border-top: 1px solid $color-base-secondary;
  }
}

.main-footer__logo-img {
  display: block;
  max-width: 82px;
}

.main-footer__text {
  display: none;
}

.main-footer__social {
  margin: 0;
}

.main-footer__title {
  margin: 0 0 12px;

  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  color: $color-base-primary;
  letter-spacing: 0.02em;

  .main-footer__group--contacts & {
    margin-bottom: 20px;
  }
}

.main-footer__nav {
  display: grid;
  margin: 0;
  padding: 0;

  list-style-type: none;

  gap: 4px;
}

.main-footer__nav-link {
  display: block;
  padding: 8px 0;

  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: $color-base-black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $color-alt-primary-lighter;
  }

  &:active {
    color: $color-alt-primary-darker;
  }
}

.main-footer__icon-text {
  display: grid;

  font-style: normal;
  font-size: 14px;
  line-height: 143%;

  gap: 6px;
  grid-template-columns: 13px 1fr;

  &::before {
    content: "";

    display: block;
    width: 13px;
    height: 16px;
    margin-top: 2px;

    background-image: var(--icon);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.main-footer__tel {
  color: $color-base-black;
  text-decoration: none;

  --icon: url("../../icons/phone.svg");

  &:hover,
  &:focus {
    color: $color-alt-primary-lighter;
  }

  &:active {
    color: $color-alt-primary-darker;
  }
}

.main-footer__address {
  margin-bottom: 16px;

  --icon: url("../../icons/address.svg");
}

.main-footer__copyright-link {
  position: relative;
  color: $color-base-gray;
  text-decoration: none;
  padding-right: 16px;

  &:hover,
  &:focus {
    color: $color-alt-primary-lighter;
  }

  &:active {
    color: $color-alt-primary-darker;
  }
}

.main-footer__copyright-img {
  position: absolute;
  right: 0;
  top: 0;
}
