.main-footer__container {
  @media (min-width: $vp-768) {
    display: grid;
    padding: 40px 20px;

    gap: 30px;
    grid-template-columns: 223px 222px 223px;
  }

  @media (min-width: $vp-1440) {
    padding: 38px 40px 40px;

    gap: 20px 30px;
    grid-template-columns: 318px 317px 318px 317px;
  }
}

.main-footer__group {
  padding: 20px;

  @media (min-width: $vp-768) {
    padding: 0;
  }

  &--logo {
    display: grid;

    gap: 38px;
    grid-template-columns: 84px 1fr;

    @media (min-width: $vp-768) {
      grid-column: 1/-1;
      grid-template-columns: 170px 1fr;
    }

    @media (min-width: $vp-1440) {
      display: block;

      grid-column: auto;
    }
  }

  &--main-menu {
    @media (min-width: $vp-1440) {
      margin-top: 11px;
    }
  }

  &--media-menu {
    @media (min-width: $vp-1440) {
      margin-top: 11px;
    }
  }

  &--contacts {
    @media (min-width: $vp-1440) {
      margin-top: 12px;
    }
  }

  &--copyright {
    font-size: 12px;
    line-height: 133%;
    text-align: center;
    color: $color-base-gray;

    @media (min-width: $vp-768) {
      grid-column: 1/-1;
    }
  }

  &:not(:first-child) {
    border-top: 1px solid $color-base-secondary;

    @media (min-width: $vp-768) {
      border: none;
    }
  }
}


.main-footer__logo {
  @media (min-width: $vp-768) {
    margin-top: 2px;
  }

  @media (min-width: $vp-1440) {
    display: block;
    margin-bottom: 10px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-footer__logo-img {
  display: block;
  max-width: 84px;

  @media (min-width: $vp-768) {
    max-width: 170px;
  }
}

.main-footer__text {
  display: none;

  @media (min-width: $vp-1440) {
    display: block;
    margin: 0 0 50px;

    font-size: 14px;
    line-height: 143%;
  }
}

.main-footer__social {
  margin: 0;

  @media (min-width: $vp-768) {
    margin-left: auto;
  }
}

.main-footer__title {
  margin: 0 0 12px;

  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  color: $color-base-primary;
  letter-spacing: 0.02em;

  .main-footer__group--contacts & {
    margin-bottom: 20px;
  }
}

.main-footer__nav {
  display: grid;
  margin: 0;
  padding: 0;

  list-style-type: none;

  gap: 4px;
}

.main-footer__nav-link {
  display: block;
  padding: 8px 0;

  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: $color-base-black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $color-alt-primary-lighter;
  }

  &:active {
    color: $color-alt-primary-darker;
  }
}

.main-footer__icon-text {
  display: grid;

  font-style: normal;
  font-size: 14px;
  line-height: 143%;

  gap: 6px;
  grid-template-columns: 13px 1fr;

  &::before {
    content: "";

    display: block;
    width: 13px;
    height: 16px;
    margin-top: 2px;

    background-image: var(--icon);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.main-footer__tel {
  color: $color-base-black;
  text-decoration: none;

  --icon: url("../../icons/phone.svg");

  &:hover,
  &:focus {
    color: $color-alt-primary-lighter;
  }

  &:active {
    color: $color-alt-primary-darker;
  }
}

.main-footer__address {
  margin-bottom: 16px;

  --icon: url("../../icons/address.svg");
}

.main-footer__copyright-link {
  position: relative;

  padding-right: 16px;

  color: $color-base-gray;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color-alt-primary-lighter;
  }

  &:active {
    color: $color-alt-primary-darker;
  }
}

.main-footer__copyright-img {
  position: absolute;
  top: 0;
  right: 0;
}
