.page {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0;

  font-size: 16px;
  line-height: 150%;
  font-family: $ff-montserrat;
  color: $color-base-black;
}

.page__page-main {
  flex-grow: 1;
}

.page__main-footer {
  margin-top: auto;
}

.page__leveler {
  width: 320px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $vp-768) {
    width: 768px;
  }

  @media (min-width: $vp-1440) {
    width: 1440px;
  }
}
