.pagination {
  display: grid;

  gap: 20px;
  grid-template-columns: 40px 1fr 40px;

  @media (min-width: $vp-768) {
    justify-content: end;

    grid-template-columns: max-content max-content max-content;
  }
}

.pagination__button {
  display: block;
  width: 40px;
  height: 40px;
  padding: 15px;

  text-decoration: none;

  background-color: $color-base-white;
  border-radius: 4px;


  @media (min-width: $vp-768) {
    width: auto;
    height: auto;
    padding: 8px 20px;

    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: $color-base-primary;
  }

  &:hover,
  &:focus {
    color: $color-base-white;

    background-color: $color-alt-primary-lighter;
  }

  &:active {
    background-color: $color-alt-primary-darker;
  }

  &--disabled {
    color: $color-base-white;

    background-color: $color-alt-light-grey;

    pointer-events: none;
  }

  &::before {
    content: "";

    display: block;
    width: 10px;
    height: 10px;

    background-color: $color-base-primary;

    mask-image: url("../../icons/short-arrow-left.svg");
    mask-position: center;
    mask-repeat: no-repeat;

    @media (min-width: $vp-768) {
      display: none;
    }
  }
}

.pagination__button--next::before {
  transform: rotate(180deg);
}

.pagination__button--disabled::before {
  background-color: $color-base-white;
}

.pagination__button:hover::before,
.pagination__button:focus::before {
  background-color: $color-base-white;
}

.pagination__button-text {
  display: none;

  @media (min-width: $vp-768) {
    display: block;
  }
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;

  gap: 20px;
}

.pagination__link {
  display: block;
  min-width: 40px;
  padding: 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: $color-base-primary;
  text-decoration: none;

  background-color: $color-base-white;
  border-radius: 4px;

  &:hover,
  &:focus {
    color: $color-base-white;

    background-color: $color-alt-primary-lighter;
  }

  &:active {
    color: $color-base-white;

    background-color: $color-alt-primary-darker;
  }

  &--disabled {
    color: $color-base-white;

    background-color: $color-alt-light-grey;

    pointer-events: none;
  }

  &--current {
    font-weight: 600;
    color: $color-base-black;

    background-color: transparent;

    pointer-events: none;
  }
}
