.slider {
  background-color: $color-bg-flat-white;

  @media (min-width: $vp-768) {
    background-image: linear-gradient(to top, $color-base-white, $color-base-white 188px, $color-bg-flat-white 188px, $color-bg-flat-white);
  }

  @media (min-width: $vp-1440) {
    background-color: $color-bg-flat-white;
    background-image: none;
  }
}

.slider__container {
  position: relative;

  min-height: 656px;
  padding: 20px 20px 60px;

  @media (min-width: $vp-768) {
    min-height: 714px;
    padding: 60px 60px 0;
  }

  @media (min-width: $vp-1440) {
    padding: 30px 105px 84px;

    background-color: $color-bg-flat-white;
    background-image: none;
  }
}

.slider__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.slider__item {
  z-index: 1;

  display: none;

  &--active {
    display: block;

    @media (min-width: $vp-768) {
      display: grid;
    }
  }
}

.slider__controls {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: space-between;
}

.slider__control {
  position: relative;

  width: 20px;
  height: 100%;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $vp-768) {
    width: 80px;
  }

  &--prev {
    &:hover {
      background-image: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    }

    &:focus {
      background-image: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    }

    &:active {
      background-image: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
    }
  }

  &--next {
    &:hover {
      background-image: linear-gradient(-90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    }

    &:focus {
      background-image: linear-gradient(-90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    }

    &:active {
      background-image: linear-gradient(-90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
    }

    &::before {
      transform: rotate(180deg);
    }
  }

  &:disabled {
    background-image: none;

    pointer-events: none;

    &::before {
      background-color: $color-base-gray;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 318px;
    left: 0;

    width: 20px;
    height: 20px;

    background-color: $color-base-primary;

    mask-image: url("../../icons/left-arrow.svg");
    mask-position: center;
    mask-repeat: no-repeat;

    @media (min-width: $vp-768) {
      top: 310px;
      left: 30px;
    }

    @media (min-width: $vp-1440) {
      top: 347px;
      left: 30px;
    }
  }
}

.slider__pagination {
  display: none;

  @media (min-width: $vp-1440) {
    position: absolute;
    bottom: 60px;
    left: 50%;
    z-index: 2;

    display: flex;
    flex-wrap: wrap;

    transform: translateX(-50%);

    gap: 8px;
  }
}

.slider__pagination-button {
  @media (min-width: $vp-1440) {
    display: flex;
    align-items: center;
    width: 62px;
    height: 24px;
    padding: 0;

    background-color: transparent;
    border: none;
    cursor: pointer;

    --button-background-color: #ffffff;

    &:hover {
      opacity: 0.25;

      --button-background-color: #7859cf;
    }

    &:focus {
      opacity: 0.25;

      --button-background-color: #7859cf;
    }

    &:active {
      --button-background-color: #7859cf;
    }

    &--active {
      opacity: 1;

      pointer-events: none;

      --button-background-color: #7859cf;
    }

    &::before {
      content: "";

      width: 100%;
      height: 4px;

      background-color: var(--button-background-color);
    }
  }
}
